<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>AshuTechStudy - Home </title>
	<meta charset="UTF-8">
	<meta name="description" content="WebUni Education Template">
	<meta name="keywords" content="webuni, education, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'webuni/img/favicon.png' %}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'webuni/css/bootstrap.min.css'%}"/>
	<link rel="stylesheet" href="{% static 'webuni/css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'webuni/css/owl.carousel.css' %}"/>
	<link rel="stylesheet" href="{% static 'webuni/css/style.css'%}"/>
	<link rel="stylesheet" href="{% static 'webuni/css/freelancer.css'%}"/>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
		<div class="container">
		  <a class="navbar-brand js-scroll-trigger" href="/"><img src="{% static 'webuni/img/logo7.png' %}" height="50px" alt=""><b style="color: rgb(250, 125, 67);"></b></a>
		  <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
	
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'courses:home' %}">Home</a>
			  </li>
			  <li class="nav-item mx-0 mx-lg-1">
				<li class="nav-item mx-0 mx-lg-1">
					<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/#kurset">Course</a>
				  </li>
			  </li>


			  
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'courses:contact' %}">Contact</a>
			  </li>
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'courses:about' %}">About</a>
			  </li>
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'blogs:bloghome' %}">Blog</a>
			  </li>
			  
			  
			  {% if request.user.is_authenticated %}
			  
			  <div class="dropdown show">
				<a class=" dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded js-scroll-triggeraa" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{request.user.username}}
				</a>
			  
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				  <!-- <a class="dropdown-item" href="{% url 'users:profile' %}">Profili</a> -->
				  <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
				</div>
			  </div>
			  {% else %}
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="active nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'account_login' %}">Login</a>
			  </li>
			  <li class="nav-item mx-0 mx-lg-1">
				<a class="active nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'account_signup' %}">Registration</a>
			  </li>
              {% endif %}
			</ul>
		  </div>
		</div>
	  </nav>

{% include 'inc/messages.html' %}
{% block content %}

{% endblock content %}

{% if request.user.is_authenticated %}
{% else %}
	<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				<h2>Learning Hare Registration First</h2>
				<p>Get your programming career started with these free video courses. Source code is available with all the videos for your better experience:Some of the latest coding information compiled as coding articles. Keep your programming knowledge up to date with our coding articles. </p>
			</div>
			<div class="text-center pt-5">
				<a href="{% url 'account_signup' %}" class="site-btn">Registration Hare</a>
			</div>
		</div>
	</section>
	<!-- banner section end -->
{% endif %}


	<!-- footer section -->
	<footer class="footer-section spad pb-0 bg-dark">
		<div class="footer-top ">
			<div class="footer-warp">
				<div class="row ">
					<div class="widget-item">
						<h4><b class=text-white>Contact Me</b></h4>
						<ul class="contact-list">
							<li><b class=text-white>ashutechstudy@gmail.com</b></li>
							<li><b class=text-white>aashuk012@gmail.com</b></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4><b class=text-white>Course Category</b></h4>
						<ul>
							<li><a href="/#kurset"><b class=text-white>Learn All Courses</b></a></li>
							<li><a href="{% url 'courses:about' %}"><b class=text-white>About</b></a></li>
							<li><a href="{% url 'blogs:bloghome' %}"><b class=text-white>Blog</b></a></li>
							<li><a href=""><b class=text-white>Web Develapment</b></a></li>
							<li><a href=""><b class=text-white>Interview Informaction,etc</b></a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4><b class=text-white>Informaction</b></h4>
						<ul>
							<li><a href="{% url 'courses:contact' %}"><b class=text-white>Contact</b></a></li>
							<li><a href="{% url 'courses:about' %}"><b class=text-white>About</b></a></li>
							<li><a href="{% url 'blogs:bloghome' %}"><b class=text-white>Blog</b></a></li>
							
						</ul>
					</div>
					<div class="widget-item">
						<h4><b class=text-white>Social Media</b></h4>
						<ul>
						<li><a href="https://in.pinterest.com/aashuk012/"><i class="fa fa-pinterest fa-2x icon-cog"></i></a></li>
						<li><a href="https://www.facebook.com/AshuKashyap-112885700424232"><i class="fa fa-facebook fa-2x"></i></a></li>
						<li><a href="https://twitter.com/aashukashyap6"><i class="fa fa-twitter fa-2x"></i></a></li>
						<li><a href="https://www.linkedin.com/in/ashu-kashyap-174505136/"><i class="fa fa-linkedin fa-2x"></i></a></li>
							  
						</ul>
					</div>
					<div class="widget-item">
						<h4><b class= "text-white">Email Sand</b></h4>
						<form class="footer-newslatter">
							<input type="email" placeholder="E-mail">
							<button class="site-btn"><b class="text-white">Submit</b></button>
							<p><b class=text-white>*Sand Any information </b></p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom bg-dark">
			<div class="footer-warp">
				<ul class="footer-menu">
					<li><a href="#"><b class=text-white>Terms & Conditions</b></a></li>
					<li><a href="{% url 'account_signup' %}"><b class=text-white>Register</b></a></li>
					<li><a href="#"><b class=text-white>Privacy</b></a></li>
				</ul>
				<div class="text-white">
	<b>Copyright &copy; AshuTechStudy <script>document.write(new Date().getFullYear());</script> All rights reserved.</b>
</div>
			</div>
		</div>
	</footer>
	<!-- footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'webuni/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'webuni/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'webuni/js/mixitup.min.js' %}"></script>
	<script src="{% static 'webuni/js/circle-progress.min.js' %}"></script>
	<script src="{% static 'webuni/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'webuni/js/main.js' %}"></script>
	<script src="{% static 'webuni/js/freelancer.js' %}"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>
